<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=”UTF-8” />
    <meta name="env" content="dev" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Information -->
    <title>Malk - Now with vitamin R!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="rating" content="General" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="author" content="Malk" />
    <meta name="copyright" content="2016, Malk" />
    <meta name="description" content="This is the default malk website" />
    <meta name="keywords" content="malk,cms,content management system" />
    <!-- Environment -->
    <meta name="env" content="production" />
    <!-- App + Browser Theming -->
    <meta name="theme-color" content="#111111">
    <meta name="application-name" content="Malk">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="msapplication-tooltip" content="Malk - Now with vitamin R!" />
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="140x140" href="/images/icon-140x140.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon-24x24.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/images/icon-48x48.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="/images/icon-64x64.png" />
    <link rel="icon" type="image/png" sizes="80x80" href="/images/icon-80x80.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon-96x96.png" />
    <link rel="icon" type="image/png" sizes="120x120"  href="/images/icon-120x120.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- CSS + JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <script data-main="/js/optimized.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" type="text/javascript"></script>
</head>
<body id="page-{{.Slug}}">
    <header>
    </header>
    <main>
        {{template "content" .}}
    </main>
    <footer>
    </footer>
</body>
</html>